# Exclude IDE settings
.idea/

# Exclude the downloaded OSM data file
data/muenster-regbez-latest.osm.pbf
data/museums.geojson
data/map.html

# Exclude Python virtual environments
venv/

# Exclude compiled Python files
__pycache__/
*.pyc
*.pyo

# Exclude temporary files
*.swp
*.swo
.DS_Store

# Exclude logs and temporary output
*.log